<h3>Edit Decimal Attribute</h3>
<%= form_for [@category, @parameter, @decimal_attribute] do |form| %>
  <%= form.number_field :value, placeholder: "1.0" %>
  <%= form.hidden_field :parameter_id, value: @parameter.id %>

  <%= form.submit %>
<% end %>