// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  max-width: 300px;
  width: 100%;
  background-color: #666666;
}
